[tool.poetry]
name = "pertpy"
version = "0.1.0"  # <<COOKIETEMPLE_FORCE_BUMP>>
description = "Perturbation Analysis in the Scanpy ecosystem."
authors = ["Lukas Heumos <lukas.heumos@posteo.net>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/theislab/pertpy"
repository = "https://github.com/theislab/pertpy"
documentation = "https://pertpy.readthedocs.io"
packages = [
    { include = "pertpy" },
]
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]


[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
click = "^8.0.0"
rich = "^10.11.0"
PyYAML = "^5.4.1"
pypi-latest = "^0.1.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
coverage = {extras = ["toml"], version = "^6.1"}
safety = "^1.9.0"
mypy = "^0.910"
typeguard = "^2.12.0"
xdoctest = {extras = ["colors"], version = "^0.15.10"}
sphinx = "^4.2.0"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.15.0"
flake8 = "^3.8.4"
black = "^21.10b0"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.9.1"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = "^0.12.1"
darglint = "^1.8.1"
reorder-python-imports = "^2.6.0"
pre-commit-hooks = "^4.0.1"
sphinx-rtd-theme = "^1.0.0"
sphinx-click = "^3.0.1"
Pygments = "^2.10.0"
types-pkg-resources = "^0.1.3"
types-requests = "^2.25.11"
types-attrs = "^19.1.0"
sphinx-rtd-dark-mode = "^1.2.4"
Jinja2 = "^3.0.2"
pyenchant = "^3.2.1"
nbsphinx = "^0.8.7"
sphinx-gallery = "^0.10.0"
sphinx-autodoc-typehints = "^1.12.0"
sphinx-last-updated-by-git = "^0.3.0"
sphinxcontrib-bibtex = "^2.4.1"

[tool.poetry.scripts]
pertpy = "pertpy.__main__:main"

[tool.black]
line-length = 120

[tool.mypy]
strict = false
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
ignore_missing_imports = true
no_strict_optional = true

[tool.isort]
multi_line_output=3
include_trailing_comma=true
balanced_wrapping=true
line_length=120

[tool.coverage.paths]
source = ["pertpy", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["pertpy"]

[tool.coverage.report]
show_missing = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
