sphinx
sphinx-automodapi
sphinx-autodoc-annotation
sphinx-autodoc-typehints
sphinx-design
sphinx-gallery
sphinx_last_updated_by_git
sphinxcontrib-spelling
sphinx-copybutton
nbsphinx
nbsphinx-link
furo
myst-parser
ete3
pyqt5
