name: Test

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test:
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                shell: bash -e {0} # -e to fail on error

        strategy:
            fail-fast: false
            matrix:
                include:
                    - os: ubuntu-22.04 # ubuntu-latest is currently broken for joblib
                      python: "3.12"
                      run_mode: "slow"
                    - os: ubuntu-22.04
                      python: "3.12"
                      run_mode: "fast"
                    # - os: ubuntu-latest
                    #   python: "3.12"
                    #   run_mode: slow
                    #   pip-flags: "--pre"

        env:
            OS: ${{ matrix.os }}
            PYTHON: ${{ matrix.python }}

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python }}

            - uses: actions/checkout@v4
            - name: Install R
              uses: r-lib/actions/setup-r@v2
              with:
                  r-version: "4"

            - name: Install edgeR
              run: Rscript --vanilla -e "install.packages(c('BiocManager', 'statmod'), repos='https://cran.r-project.org'); library('BiocManager'); BiocManager::install('edgeR')"

            - name: Install test dependencies
              run: python -m pip install --upgrade uv wheel
            - name: Install dependencies
              run: |
                  uv pip install --system rpy2
                  uv pip install --system ${{ matrix.pip-flags }} ".[dev,test,coda,de]"

            - name: Test
              env:
                  MPLBACKEND: agg
                  PLATFORM: ${{ matrix.os }}
                  DISPLAY: :42
              run: |
                  pytest_args="-m pytest -v --color=yes"
                  if [ "${{ matrix.run_mode }}" = "slow" ]; then
                    pytest_args="$pytest_args --runslow"
                  fi
                  coverage run $pytest_args

            - name: Show coverage report
              run: coverage report -m

            - name: Upload coverage
              uses: codecov/codecov-action@v4
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  fail_ci_if_error: true
                  verbose: true
